<%= content_for(:sidebar) { render 'settings/sidebar' } %>

<h1 class="title">Edit Tenant</h1>

<p class="subtitle">
  Select the applications you would like to be enabled.
</p>

<%= simple_form_for [:settings, @tenant] do |f| %>
  <% Tenant.all_apps.each do |app| %>
    <%= f.input "#{app}_app" %>
  <% end %>

  <%= f.button :submit %>
<% end %>
