<% content_for(:title, 'Home') %>
<% content_for(:hide_body_title, true) %>
<% content_for(:page_style, :full_width) %>

<div class='columns'>
  <div class='column'>
    <section class='hero is-primary is-bold is-small'>
      <div class='hero-body'>
        <div class='container'>
          <h1 class='title'>
            👋 Hey <%= current_user.first_name.blank? ? 'stanger' : current_user.first_name %>
          </h1>
          <h2 class='subtitle'>
            It's nice to see you today
          </h2>
        </div>
      </div>
    </section>
  </div>
</div>

<div class='columns'>
  <div class='column is-half'>
    <%= render 'dashboard/tasks' %>
  </div>

  <div class='column is-half'>
    <%= render 'dashboard/personal_log' %>
  </div>
</div>
