<p>
  <% if notes.empty? %>
    You haven't created any notes yet.
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Last Updated</th>
        </tr>
      </thead>

      <tbody>
        <% notes.each do |note| %>
          <tr>
            <td><%= link_to(sanitize(note.title), note_path(note)) %></td>
            <td><%= sanitize note.content.truncate_words 10 %></td>
            <td><%= note.decorate :updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>
