<aside class="menu">
  <ul class="menu-list">
    <li>
      <%= link_to notes_path, class: params[:controller] == 'notes' ? 'is-active' : nil do %>
        <%= icon_for :notes %>&nbsp;Notes
      <% end %>
    </li>
    <li>
      <%= link_to company_groups_path, class: params[:controller] == 'groups' && params[:domain] == 'company' ? 'is-active' : nil do %>
        <%= icon_for :groups %>&nbsp;Groups
      <% end %>
    </li>
</aside>
