<% content_for(:title, 'Company Groups') %>
<% content_for(:actions) do %>
  <%= link_to new_company_group_path, class: 'navbar-item' do %>
    <%= icon_for :create %>
  <% end %>
<% end %>
<% content_for(:sidebar) { render 'companies/sidebar' } %>

<% if @company_groups.empty? %>
  <div>
    You haven't created any company groups yet.
  </div>
<% else %>
  <%= render(
    'common/index_table',
    items: @company_groups,
    item_path: :company_group_path,
    fields: [:name, :created_at]
  ) %>
<% end %>
