<% content_for(:title, 'Company Groups') %>
<% content_for(:actions, actions_for(CompanyGroup, :create)) %>
<% content_for(:sidebar) { render 'companies/sidebar' } %>

<% if @company_groups.empty? %>
  <div>
    You haven't created any company groups yet.
  </div>
<% else %>
  <%= render(
    'common/index_table',
    items: @company_groups,
    fields: [:name, :created_at]
  ) %>
<% end %>
