<% content_for(:title) { @company_group.name } %>
<% content_for(:back_link, company_groups_path) %>
<% content_for(:actions, actions_for(@company_group, :edit, :delete)) %>
<% content_for(:sidebar) { render 'companies/sidebar' } %>

<% if @companies.empty? %>
  <div>
    There aren't any companies in this group.
  </div>
<% else %>
  <%= render 'companies/companies', companies: @companies %>
<% end %>
