<div class='mb-4 attributes-table'>
  <% @attributes.each do |key, value| %>
    <div class='columns'>
      <div class='column has-text-centered-mobile is-one-third'>
        <strong><%= key %></strong>
      </div>
      <div class='column'>
        <%= value %>
      </div>
    </div>
  <% end %>
</div>
