<% content_for(:title, 'Stars') %>

<% if @stars.empty? %>
  <div>
    You haven't starred any <%= @type_plural %>.
  </div>
<% else %>
  <%= render "#{@type_plural}/#{@type_plural}", "#{@type_plural}": @stars %>
<% end %>
