<div class='card'>
  <div class='card-content'>
    <p class='title is-4 has-text-centered'>
      <%= link_to personal_log_entry, class: 'has-text-black' do %>
        <%= personal_log_entry.decorate :time %>
      <% end %>
    </p>
    <div class='content'>
      <%= personal_log_entry.decorate :content %>
    </div>
    <% if personal_log_entry.geolocation.present? %>
      <div>
        <strong>Location:</strong> <%= personal_log_entry.decorate :geolocation_coordinates %>
      </div>
    <% end %>
  </div>
</div>
