<% content_for(:title, 'Export Entries') %>
<% content_for(:page_style, :document) %>

<p class='subtitle'>
  Select the format you want to download:
</p>

<%= link_to 'Markdown', personal_log_export_path(format: :md), class: 'button is-primary is-light' %>
<%= link_to 'JSON', personal_log_export_path(format: :json), class: 'button is-primary is-light' %>
