<% content_for(:title, 'Review') %>
<% content_for(:page_style, :narrow) %>
<% content_for(:back_link, dashboard_home_path) %>

<% @periods.each do |period| %>
  <% entries = @entries[period] %>
  <div class='columns mt-5'>
    <div class='column'>
      <h1 class='title is-4'>One <%= period.to_s.humanize %> Ago</h1>
    </div>
  </div>
  <% if entries.empty? %>
    <p class="text-muted">
      No entries for now.
    </p>
  <% else %>
    <h1 class='title is-5'><%= entries.first.decorate :long_day %></h1>
    <% @entries[period].each do |entry| %>
      <div class='columns'>
        <div class='column is-8'>
          <%= render 'personal_log/entries/personal_log_entry', personal_log_entry: entry %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
