<% content_for(:title, 'Log Entry') %>
<% content_for(:back_link, personal_log_entries_path) %>
<% content_for(:actions, actions_for(@personal_log_entry, :edit, :delete)) %>
<% content_for(:page_style, :document) %>

<%= @personal_log_entry.decorate :content %>

<div>
  <strong>Date:</strong> <%= @personal_log_entry.decorate :date %>
</div>
