<% content_for(:title, @group.name) %>
<% content_for(:back_link, polymorphic_path([@domain, :groups])) %>
<% content_for(:actions, actions_for(@group, :edit, :delete)) %>
<% content_for(:sidebar) { render 'groups/sidebar' } %>

<% if @items.empty? %>
  <div>
    There aren't any <%= @domain_plural %> associated with this <%= @display_as %>.
  </div>
<% else %>
  <%= render "#{@domain_plural}/#{@domain_plural}", "#{@domain_plural}": @items %>
<% end %>
