<% content_for(:title, 'Contacts') %>
<% content_for(:back_link, root_path) %>
<% content_for(:actions, actions_for(Contact, :create)) %>

<p>
  <%= render 'contacts', contacts: @contacts %>
</p>

<br>

<%= link_to 'New Contact', new_contact_path, class: 'button is-link' %>
