<table class='table is-fullwidth'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
    </tr>
  </thead>

  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.description %></td>
        <td><%= project.decorate :start_date %></td>
        <td><%= project.decorate :end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
