<% content_for(:title) { 'Projects' } %>

<h1 class="title">Projects</h1>

<p>
  <%= render 'projects', projects: @projects %>
</p>

<br>

<%= link_to 'New Project', new_project_path, class: 'button is-link' %>
