<% content_for(:title, "Notes | #{@parent.decorate :name}") %>
<% content_for(:back_link, polymorphic_path([@parent])) %>
<% content_for(:actions) do %>
  <%= link_to new_note_path("#{@parent.model_name.singular}_id" => @parent.id), class: 'navbar-item' do %>
    <%= icon_for :create %>
  <% end %>
<% end %>

<% if @notes.empty? %>
  <div>
    There aren't any notes linked to this <%= @type %>.
  </div>
<% else %>
  <%= render 'notes/notes', notes: @notes %>
<% end %>
