<% content_for(:title, 'Companies') %>
<% content_for(:back_link, dashboard_home_path) %>
<% content_for(:actions) do %>
  <%= render CreateActionComponent.new path: new_company_path %>
<% end %>

<% if @companies.empty? %>
  <div>
    You haven't created any companies yet.
  </div>
<% else %>
  <%= render 'companies', companies: @companies %>
<% end %>
