<% content_for(:title) { 'Companies' } %>
<% content_for(:back_link) { root_path } %>
<% content_for(:actions) do %>
  <%= link_to new_company_path, class: 'navbar-item' do %>
    <%= icon_for :create %>
  <% end %>
<% end %>
<% content_for(:page_style, :fullwidth) %>
<% content_for(:sidebar) { render 'companies/sidebar' } %>

<h1 class="title">Companies</h1>

<p>
  <%= render 'companies', companies: @companies %>
</p>

<%= link_to 'New Company', new_company_path, class: 'button is-link' %>
