<% content_for(:title, 'Companies') %>
<% content_for(:back_link, dashboard_home_path) %>
<% content_for(:actions) do %>
  <%= render CreateActionComponent.new path: new_company_path %>
<% end %>
<% content_for(:page_style, :full_width) %>

<% if @companies.empty? %>
  <div>
    You haven't created any companies yet.
  </div>
<% else %>
  <div class='box'>
    <%= render 'companies', companies: @companies %>
  </div>
<% end %>
