<% content_for(:title) { 'Companies' } %>
<h1 class="title">Companies</h1>

<p>
  <%= render 'companies', companies: @companies %>
</p>

<%= link_to 'New Company', new_company_path, class: 'button is-link' %>
