<% content_for(:title) { @company.name } %>
<h2 class="title"><%= @company.name %></h2>
<%= render 'tabs', company: @company %>

<h2 class="title">Projects</h2>

<p>
  <%= render 'projects/projects', projects: Array(@company.projects) %>
</p>

<p>
  <%= link_to 'New Project', new_project_path(company_ids: [@company.id]), class: 'button is-link' %>
</p>
