<% content_for(:title) { @company.name } %>
<h2 class="title"><%= @company.name %></h2>
<%= render 'tabs', company: @company %>

<h2 class="title">Tasks</h2>

<p>
  <%= render 'tasks/tasks', tasks: Array(@company.tasks) %>
</p>

<p>
  <%= link_to 'New Task', new_task_path(company_id: @company.id), class: 'button is-link' %>
</p>
