<% content_for(:title) { @company.name } %>
<% content_for(:sidebar) { render 'companies/sidebar' } %>
<% content_for(:back_link, companies_path(@company)) %>
<%= render 'tabs', company: @company %>

<p>
  <%= render 'contacts/contacts', contacts: Array(@company.contacts) %>
</p>

<p>
  <%= link_to 'Add Contact', new_contact_path(company_id: @company.id), class: 'button is-link' %>
</p>
