<% content_for(:title, @tag.name) %>
<% content_for(:back_link, polymorphic_path([@type.to_sym, :tags])) %>
<% content_for(:actions) do %>
  <%= render EditActionComponent.new path: polymorphic_path([:edit, @tag]) %>
  <%= render DeleteActionComponent.new path: polymorphic_path([@tag]), model_name: 'tag' %>
<% end %>

<% if @items.empty? %>
  <div>
    There aren't any <%= @type_plural %> associated with this Tag.
  </div>
<% else %>
  <%= render "#{@type_plural}/#{@type_plural}", "#{@type_plural}": @items %>
<% end %>
