<% content_for(:title, @tag.name) %>
<% content_for(:back_link, polymorphic_path([@type, :tags])) %>
<% content_for(:actions, actions_for(@tag, :edit, :delete)) %>
<% content_for(:page_style, :document) %>

<% if @items.empty? %>
  <div>
    There aren't any <%= @type_plural %> associated with this Tag.
  </div>
<% else %>
  <%= render "#{@type_plural}/#{@type_plural}", "#{@type_plural}": @items %>
<% end %>
