<% content_for(:title, @form.decorate(:name)) %>
<% content_for(:back_link, forms_path) %>
<% content_for(:actions, actions_for(@form, :edit, :delete)) %>

<p>
  <strong>Status:</strong>
  <%= @form.status %>
</p>
