
//
// Our variables
//
$orange: hsl(14,  100%, 53%);
$yellow: hsl(48,  100%, 67%);
$green: hsl(141, 53%,  53%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 71%,  53%);
$blue: hsl(217, 71%,  53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 86%, 61%);

//
// Shared Bulma customizations
//
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

$menu-item-radius: 0px;
$box-radius: 0px;
$panel-radius: 0px;
$navbar-dropdown-radius: 0px;
$navbar-dropdown-boxed-radius: 0px;

/*
 * Unset the font smoothing options that Bulma set so that the user's font smoothing option prevails.
 * For users who can & do disable font smoothing (such as myself) this means that fonts look nicer.
 */
html {
  -moz-osx-font-smoothing: unset;
  -webkit-font-smoothing: unset;
}

button, a.button, input.button {
  font-weight: 500;
}

/*
 * TODO: not really sure why we need to do this
 * Just trying to make it look right for now...
 */
.checkbox {
  margin-right: 5px;
}

/*
 * Make clickable table rows appear to be clickable
 */
table.is-clickable tbody tr {
  cursor: pointer;
}

table.table:not(.has-last-column-aligned-left) {
  td:last-child, th:last-child {
    text-align: right;
  }
}

textarea {
  min-height: 6em;
}

span.icon + span {
  margin: 0 0.2em;
}

mark {
  background-color: $yellow;
  padding-left: 5px;
  padding-right: 5px;
}
