$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);

$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light:hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-lightest: hsl(0, 0%, 93%);

$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$orange: hsl(14,  100%, 53%);
$yellow: hsl(48,  100%, 67%);
$green: hsl(141, 53%,  53%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 71%,  53%);
$blue: hsl(217, 71%,  53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 86%, 61%);

$primary: #22237ed6;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $white-ter;
$dark: $grey-darker;

$menu-item-active-background-color: $primary;

$menu-item-radius: 0px;
$box-radius: 0px;
$panel-radius: 0px;
$navbar-dropdown-radius: 0px;
$navbar-dropdown-boxed-radius: 0px;

@import 'bulma/bulma.sass';

/*
 * Unset the font smoothing options that Bulma set so that the user's font smoothing option prevails.
 * For users who can & do disable font smoothing (such as myself) this means that fonts look nicer.
 */
html {
  -moz-osx-font-smoothing: unset;
  -webkit-font-smoothing: unset;
}

html, body {
  background-color: #efeef7;
}

button, a.button, input.button {
  font-weight: 500;
}

/*
 * TODO: not really sure why we need to do this
 * Just trying to make it look right for now...
 */
.checkbox {
  margin-right: 5px;
}

/*
 * Make sorting links appear the same as other table headers
 */
th .sort_link {
  color: #363636;
}

/*
 * Make clickable table rows appear to be clickable
 */
table.is-clickable tbody tr {
  cursor: pointer;
}

table.table:not(.has-last-column-aligned-left) {
  td:last-child, th:last-child {
    text-align: right;
  }
}

.pagination a, .panel {
  background-color: white;
}

textarea {
  min-height: 6em;
}

span.icon + span {
  margin: 0 0.2em;
}
