@import 'shared';

$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);

$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light:hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-lightest: hsl(0, 0%, 93%);

$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$orange: hsl(14,  100%, 53%);
$yellow: hsl(48,  100%, 67%);
$green: hsl(141, 53%,  53%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 71%,  53%);
$blue: hsl(217, 71%,  53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 86%, 61%);

$primary: #22237ed6;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $white-ter;
$dark: $grey-darker;

$menu-item-active-background-color: $primary;

$menu-item-radius: 0px;
$box-radius: 0px;
$panel-radius: 0px;
$navbar-dropdown-radius: 0px;
$navbar-dropdown-boxed-radius: 0px;

@import 'bulma/bulma.sass';

html, body {
  background-color: #efeef7;
}

/*
 * Make sorting links appear the same as other table headers
 */
th .sort_link {
  color: #363636;
}

.pagination a, .panel {
  background-color: white;
}

.attributes-table .columns {
  border-bottom: 1px solid $grey-darker;
}
