@import 'bulma/bulma.sass';

html, body {
  background-color: #efeef7;
}

button, a.button, input.button {
  font-weight: 500;
}

/*
 * TODO: not really sure why we need to do this
 * Just trying to make it look right for now...
 */
.checkbox {
  margin-right: 5px;
}

/*
 * Make sorting links appear the same as other table headers
 */
th .sort_link {
  color: #363636;
}

/*
 * Make clickable table rows appear to be clickable
 */
table.is-clickable tbody tr {
  cursor: pointer;
}

table.table:not(.has-last-column-aligned-left) {
  td:last-child, th:last-child {
    text-align: right;
  }
}

.pagination a, .panel {
  background-color: white;
}

textarea {
  min-height: 6em;
}

span.icon + span {
  margin: 0 0.2em;
}

.is-aligned-right {
  text-align: right;
}
