@import 'shared';
@import 'bulma/bulma.sass';

html, body {
  background-color: #e6e5ee;
}

/*
 * Make sorting links appear the same as other table headers
 */
th .sort_link {
  color: #363636;
}

.pagination a, .panel {
  background-color: white;
}

.attributes-table .column {
  border-bottom: 1px solid $grey-lighter;
}
