@import 'shared';

$primary: #22237ed6;

$menu-item-active-background-color: $primary;

@import 'bulma/bulma.sass';

html, body {
  background-color: #efeef7;
}

/*
 * Make sorting links appear the same as other table headers
 */
th .sort_link {
  color: #363636;
}

.pagination a, .panel {
  background-color: white;
}

.attributes-table .columns {
  border-bottom: 1px solid $grey-darker;
}
