<% content_for(:title, 'Home') %>
<% content_for(:page_style, :narrow) %>

<div class="content">
  <% if current_tenant.apps.empty? %>
    <p>You haven't enabled any apps yet.</p>
  <% else %>
    <ul>
      <% current_tenant.apps.each do |app| %>
        <li><%= link_to app[:name], app[:path] %></li>
      <% end %>
    </ul>
  <% end %>
</div>
