<% content_for(:title, 'Custom Fields') %>
<% content_for(:sidebar) { render 'companies/sidebar' } %>
<% content_for(:page_style, :fullwidth) %>
<h1 class="title">Custom Fields</h1>
<% content_for(:actions) do %>
  <%= link_to new_company_field_path, class: 'navbar-item' do %>
    <%= icon_for :create %>
  <% end %>
<% end %>

<% if @fields.empty? %>
  <div>
    You haven't created any custom fields yet.
  </div>
<% else %>
  <%= render 'common/index_table', items: @fields, fields: [:name, :created_at], item_path: :company_field_path %>
<% end %>
