<div class='box'>
  <% attributes.each do |key, value| %>
    <div class='columns' style='border-bottom: 1px solid hsl(0, 0%, 86%);'>
      <div class='column has-text-centered-mobile'>
        <strong><%= key %></strong>
      </div>
      <div class='column'>
        <%= value %>
      </div>
    </div>
  <% end %>
</div>
