<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form_template.name %>
</p>

<%= link_to 'Edit', edit_form_template_path(@form_template) %> |
<%= link_to 'Back', form_templates_path %>
