<% content_for(:title, @form_template.decorate(:name)) %>
<% content_for(:actions) do %>
  <%= render EditActionComponent.new path: edit_form_template_path(@form_template) %>
  <%= render DeleteActionComponent.new path: form_templates_path(@form_template), model_name: 'form template' %>
<% end %>
<% content_for(:back_link, form_templates_path) %>

<div>
  <%= link_to 'Edit Fields', form_template_fields_path(@form_template), class: 'button is-link' %>
</div>

<br />

<%= render IndexTableComponent.new(@forms, [:name, :created_at]) %>
